<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="/js/proyecto.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Italianno|Lato:400,700,900|Raleway:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesPresentacion.css">

    <title>GA</title>

  </head>
  <body>
    <header class="encabezado-sitio container"></header>
    <div class="navegacion mt-3 py-1">
      <nav class="nav-principal navbar navbar-expand-md navbar-light bg-faded">

         <div class="container">
              <div class="collapse navbar-collapse w-100" id="nav_principal">
                  <ul class="nav nav-justified  w-100 flex-column flex-sm-row">
                    <li class="nav-item">
                      <a href="/../.." class="nav-link">INICIO</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">NOSOTROS</a>
                    </li>

                    <li class="nav-item">
                      <a href="productos.html" class="nav-link">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                      <a href="" class="nav-link">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                      <a href="carrito.html" class="nav-link" src="/img/carrito.png"><img src="/img/carrito.png" width="50" height="50"><label id="valor"></label></a>
                    </li>
                  </ul>
              </div>
        </div>
      </nav>
   </div>
   <div class="container my-5 text-center" id="contacto">

      <div class="row" id="formulario">


            <div id ="primeraPersona"class="col-md-12" >
                <h2 id="contactate">CONTACTATE CON NOSOTROS !</h2>
                <hr />
                <div class="input-group input-group-sm mb-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="nombre">NOMBRE</span>
                  </div>
                  <input  id="nombre2" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="" >
                </div>
                <label id="campleteDni1" value=""></label>


                <div class="input-group input-group-sm mb-3" id="N1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="apellido">APPELIDO</span>
                  </div>
                  <input  id="apellido2" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="">
                </div>
                <label id="campleteNombre1" value=""></label>
                <div class="input-group input-group-sm mb-3" id="N1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="mail">MAIL</span>
                  </div>
                  <input  id="mail2" type="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="">
                </div>
                <label id="campleteNombre1" value=""></label>
                <div class="input-group input-group-sm mb-12" id="N1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="telefono">TELEFONO</span>
                  </div>
                  <input  id="telefono2" type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="">
                </div>
                <label id="campleteNombre1" value=""></label>
           </div>

           <div id ="alertaMensaje"class="col-md-12">
             <div id="alerta" class="alert alert-primary alert-dismissible  collapse" role="alert" data-dismiss="alert">
               <h5>TRAMITE REGISTRADO ! </label>
               <br>
               <hr>
               <span class = "registro" id="1dat" value=""></span>
               <br>
               <br>
               <span class = "registro" id="2dat" value=""></span>

               <hr>
               <span>El tramite fue resgistrada exitosamente.</strong>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
               </button>
             </div>
          </div>



        <button type="button" id="enviar"class="btn btn-success" data-toggle="modal" onclick="ConfirmarDefuncion()">ENVIAR</button>



     </div>
     <div>
       <img src="/../img/slash.jpg" id="fotoContacto">
     </div>
    </div>
     <footer id="footerContacto">
         <div class="container">
             <div class="row">
                 <div class="col-xs-12 text-center">
                   <hr id="linea" />
                   <h3 id= "seguinos"class="all-titles-pages">SE PARTE DE NUESTRA COMUNIDAD</h3>
                     <ul id = "redes" class="list-unstyled">
                         <li class="list-social">
                             <p><a href="#"><i class="fa fa-twitter"><img src="/img/twitter.svg" width="50" height="50"></i></a></p>
                         </li>
                         <li class="list-social">
                             <p><a href="#"><i class="fa fa-facebook"><img src="/img/facebook.svg" width="50" height="50"></i></a></p>
                         </li>
                         <li class="list-social">
                             <p><a href="#"><i class="fa fa-google-plus"><img src="/img/youTube.svg" width="50" height="50"></i></a></p>
                         </li>
                         <li class="list-social">
                             <p><a href="#"><i class="fa fa-youtube"><img id= "redes4"src="/img/instagram.svg" width="50" height="50"></i></a></p>
                         </li>
                     </ul>
                 </div>
                 <div class="col-xs-12">
                     <h3 id="marca"class="text-center all-titles-pages">Gabriel Appella &copy; 2020</h3><br>
                 </div>

     </footer>


  </body>



</html>
