body{
	background-color: #ffffff;

}

#tabla{
	border: 1px solid black;
	position: relative;

}
#c1{
	font-size: 220%;
	color: #ffffff;
}
#c2{
	font-size: 220%;
	color: #ffffff;
}
#c3{
	font-size: 220%;
	color: #ffffff;
}
#nav_principal{
	display:inline-block;
	padding-left:100px;
	padding-right:100px;
}

#tuPedido{
	position: relative;
	left: 170px;
	

}
#tabla{
	position: relative;
	left: 170px;
	width: 200%;

}
#comprar{
	position: relative;
	left: 170px;
}
#cancelar{
	position: relative;
	left: 170px;
}
#total{
	position: relative;
	left: 170px;
}
#pedido{
	padding: 60px;
}
#carrito h2{
	color: #000000;
}
#carrito p{
	color: #000000;
}
#items{
	background-color: #ffffff;
	border: #8ed3cc 2px solid;
	padding: 16px;
	right: -20px;


}

.img-fluid{

   border: #8ed3cc 1px solid;
}

#precioCompra{
	bottom: -60px;
	position: relative;
	font-size: "7";

}


.navegacion{
     background-color: #8ed3cc;
}
.nav-link{
	color:#000000;
  font-weight: bold
}
.nav-link:hover{
	background-color: #49A1D5;
	color:#000000;
	border-radius: 15px;
  font-weight: bold
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 3;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.btn-primary:hover{
    background-color: #39a69b;

}

/*footer*/
